@import "tailwindcss";

@theme{
    --color-brand-background: "#F8FAFC";
  --color-brand-surface: "#FFFFFF";
  --color-brand-border: "#E2E8F0";


  --color-brand-primary: "#0F172A";
  --color-brand-secondary: "#6B7280";

  --color-brand-success: "#34D399";
  --color-brand-successDark: "#059669";

  --color-brand-danger: "#EF4444";
  --color-brand-dangerLight: "#FECACA";

  --color-brand-info: "#3B82F6";

  --color-brand-muted: "#9CA3AF";


    --color-brand-income: "#34D399";
    --color-brand-expense: "#111827";
    --color-brand-food: "#059669";
    --color-brand-transport: "#9CA3AF";
    --color-brand-entertainment: "#FCA5A5";
}

:root{
  font-family: 'Inter';
}